body {
    background-color: white;
}

h1 {
    text-align: center;
}

.more-content {
    text-align: center;
    width: 50%;
    margin: auto;
}

.embed-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}

footer {
    text-align: center;
    position: fixed;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0;
    height: 300px;
    background-color: gray;
    display: none;
}

.fTab {
    position: fixed;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 180px;
    padding: 1em;
    background-color: gray;
}

.fTab.active {
    bottom: 200px;
}

.fTab.active + footer {
    max-height: 200px;
    display: block;
}